<div class="black-overlay" [ngClass]="{ show: details.saveModal }"></div>
<div class="d-flex segment-header">
  <ul class="tabs list-inline mr-auto mb-0">
    <li
      class="tab list-inline-item "
      [ngClass]="{ active: segmentTab == 'segmentDetails' }"
      (click)="changeTab('segmentDetails')"
    >
      <span>Segment Details</span>
    </li>
    <li
      class="tab list-inline-item"
      [ngClass]="{ active: segmentTab == 'segmentConfig' }"
      (click)="changeTab('segmentConfig')"
    >
      <span>Configuration</span>
    </li>
    <li
      class="tab list-inline-item"
      [ngClass]="{ active: segmentTab == 'segmentAudit' }"
      (click)="changeTab('segmentAudit')"
    >
      <span>Audit</span>
    </li>
    <li
      class="tab list-inline-item"
      [ngClass]="{ active: segmentTab == 'segmentData' }"
      (click)="changeTab('segmentData')"
    >
      <span>Data</span>
    </li>
  </ul>
  <ul class="list-inline mb-0 segment-actions">
    <li class="list-inline-item">
      <a href="#" (click)="openSaveModal()"><span class="icon-save"></span></a>
    </li>
    <li class="list-inline-item">
      <a href="#"><span class="icon-pause"></span></a>
    </li>
    <li class="list-inline-item">
      <a href="#"><span class="icon-delete"></span></a>
    </li>
    <li class="list-inline-item">
      <a href="#" (click)="menu.toggle($event)"
        ><span class="icon-more_horiz"></span
      ></a>
      <p-menu
        #menu
        [popup]="true"
        appendTo="body"
        [model]="moreActions"
      ></p-menu>
    </li>
  </ul>
</div>
<div class="segment-tabs" #segmentTabs>
  <div class="p-4" [ngClass]="{ show: segmentTab == 'segmentDetails' }">
    <app-segment-details [segmentDetails]="details"></app-segment-details>
  </div>
  <div [ngClass]="{ show: segmentTab == 'segmentConfig' }">
    <app-segment-config></app-segment-config>
  </div>
  <div [ngClass]="{ show: segmentTab == 'segmentAudit' }">
    <app-segment-audit></app-segment-audit>
  </div>
  <div [ngClass]="{ show: segmentTab == 'segmentData' }">
    <app-segment-data></app-segment-data>
  </div>
</div>
<div class="container-fluid">
  <div class="row pb-2 mt-4 footer-row">
    <div class="col-7">
      <strong> Running </strong>: Vodafone Campaign tool System shall be logged
      in to the System
    </div>
    <div class="col-2"></div>
    <div class="col-2 pt-1">
      <p-progressBar
        class="progressBarHeight"
        [value]="75"
        [showValue]="false"
      ></p-progressBar>
    </div>
    <div class="col-1">75 %</div>
  </div>
</div>

<app-save-modal
  [display]="details.saveModal"
  [append]="segmentTabs"
  (onModalClosed)="details.saveModal = false"
></app-save-modal>
