<div class="p-3">
  <p-accordion [multiple]="true">
    <p-accordionTab header="Criteria">
      <app-text-editor></app-text-editor>
    </p-accordionTab>
    <p-accordionTab header="Stored Fields">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">table name</th>
            <th scope="col">Data Attribute</th>
            <th scope="col">Priority</th>
            <th scope="col" class="text-center">Data Attribute</th>
            <th scope="col" class="text-center">Deduplicate</th>
            <th scope="col" class="text-center">Substitution</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of storedFields">
            <td>{{ item.tableName }}</td>
            <td>{{ item.dataAttr }}</td>
            <td>{{ item.priority }}</td>
            <td class="text-center">
              <p-checkbox
                name="groupname"
                value="dataAttrCheck"
                [(ngModel)]="item.dataAttrCheck"
              ></p-checkbox>
            </td>
            <td class="text-center">
              <p-checkbox
                name="groupname"
                value="deduplicate"
                [(ngModel)]="item.deduplicate"
              ></p-checkbox>
            </td>

            <td class="text-center">
              <p-checkbox
                name="groupname"
                value="substitution"
                [(ngModel)]="item.substitution"
              ></p-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <div class="btn btn-dark  rounded-0" (click)="generateSql()">
          Generate
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab
      [disabled]="!sqlGenerated"
      [selected]="sqlGenerated"
      header="Generated SQL"
    >
      <div class="d-flex align-items-center text-right justify-content-end">
        <label for="optemizeSql" class="mr-2">
          Use Specific Optimization
        </label>
        <p-inputSwitch inputId="optemizeSql" [(ngModel)]="optemizeSqlCheck"
          >Use Specific Optimization</p-inputSwitch
        >
      </div>
      <app-text-editor
        [value]="generatedSql"
        [disabled]="!optemizeSqlCheck"
      ></app-text-editor>
    </p-accordionTab>
  </p-accordion>
</div>
